<!--include header-->
<%- include('include/_header') %>

<!--include navbar-->
<%- include('include/_navbar') %>

<section class="home" id="home">

    <div class="content">
        <h3>MediCare <span>Consultation at your Comfort</span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus suscipit porro nam libero natus error consequatur sed repudiandae eos quo?</p>
        <a href="#" class="btn btn-lg">Register</a>
    </div>

    <div class="image">
        <img src="../Static/images/Online Doctor.gif" alt="">
    </div>

</section>

<!-- home section ends -->

<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> What's in MediCare </h1>

    <div class="box-container">

        <div class="box">
            <img src="../Static/images/World Hepatitis Day-bro.png" alt="">
            <h3>verified pathology</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src="../Static/images/Vaccine-rafiki.png" alt="">
            <h3>Offline appointment</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src="../Static/images/Health professional team-amico.png" alt="">
            <h3>experienced team</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam minus recusandae autem, repellendus fugit quaerat provident voluptatum non officiis ratione.</p>
            <a href="#" class="btn">read more</a>
        </div>

    </div>

</section>

<!-- features section ends -->

<!-- about section starts  -->

<section class="about" id="about">

    <h1 class="heading"> About MediCare</h1>

    <div class="column">

        <div class="image">
            <img src="../Static/images/Doctor2.gif" alt="">
        </div>

        <div class="content">
            <h3>Offline/Online consultation, Comfort blah blah</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla placeat deserunt saepe repudiandae veniam soluta minima dolor hic aperiam iure.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quaerat. Dolorem ratione saepe magni quo inventore porro ab voluptates eos, nam eius provident accusantium, quia similique est, repellendus et reiciendis.</p>
            <div class="buttons">
                <a href="#" class="btn"> <i class="fab fa-apple"></i> Signup </a>
                <a href="#" class="btn"> <i class="fab fa-google-play"></i> Login </a>
            </div>
        </div>

    </div>

</section>

<!-- about section ends -->

<!-- newsletter  -->



<!-- review section starts  -->

<section class="features" id="review">

    <h1 class="heading"> Our Team </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-quote-right"></i>
            <div class="user">
                <img src="../Static/images/Files sent.gif" alt="">
                <h3>developer 1</h3>
                
                <div class="comment">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
                </div>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-quote-right"></i>
            <div class="user">
                <img src="../Static/images/Files sent.gif" alt="">
                <h3>developer 2</h3>
                
                <div class="comment">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
                </div>
            </div>
        </div>

        <div class="box">
            <i class="fas fa-quote-right"></i>
            <div class="user">
                <img src="../Static/images/Files sent.gif" alt="">
                <h3>developer 3</h3>
               
                <div class="comment">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus et, perspiciatis nisi tempore aspernatur accusantium sed distinctio facilis aperiam laborum autem earum repellat, commodi eum. Ullam cupiditate expedita officiis obcaecati?
                </div>
            </div>
        </div>

    </div>

</section>

<!-- review section ends -->

<!-- pricing section starts  -->
<!-- 
<section class="pricing" id="pricing">

    <h1 class="heading"> Our Pricing Plans </h1>

    <div class="box-container">

        <div class="box">
            <h3 class="title">basic</h3>
            <div class="price">$10<span>/monthly</span></div>
            <ul>
                <li> <i class="fas fa-check"></i> 1000+ downloads </li>
                <li> <i class="fas fa-check"></i> No transaction fees </li>
                <li> <i class="fas fa-times"></i> unlimited storage </li>
                <li> <i class="fas fa-times"></i> 5 downloads </li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">standard</h3>
            <div class="price">$15<span>/monthly</span></div>
            <ul>
                <li> <i class="fas fa-check"></i> 1000+ downloads </li>
                <li> <i class="fas fa-check"></i> No transaction fees </li>
                <li> <i class="fas fa-check"></i> unlimited storage </li>
                <li> <i class="fas fa-times"></i> 5 downloads </li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">premium</h3>
            <div class="price">$25<span>/monthly</span></div>
            <ul>
                <li> <i class="fas fa-check"></i> 1000+ downloads </li>
                <li> <i class="fas fa-check"></i> No transaction fees </li>
                <li> <i class="fas fa-check"></i> unlimited storage </li>
                <li> <i class="fas fa-check"></i> 5 downloads </li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

    </div>

</section>

pricing section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">

    <div class="image">
        <img src="../Static/images/Get in touch.gif" alt="">
    </div>

    <form action="">

        <h1 class="heading">contact us</h1>

        <div class="inputBox">
            <input type="text" required>
            <label>name</label>
        </div>

        <div class="inputBox">
            <input type="email" required>
            <label>email</label>
        </div>

        <div class="inputBox">
            <input type="number" required>
            <label>phone</label>
        </div>

        <div class="inputBox">
            <textarea required name="" id="" cols="30" rows="10"></textarea>
            <label>message</label>
        </div>

        <input type="submit" class="btn" value="send message">

    </form>

</section>

<!-- contact section edns -->
<!--include footer-->
<%- include('include/_footer') %>