<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/signup.css">
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        <title>MediCare</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
        


<!--include navbar-->
<%- include('include/_navbar') %>


<div class="container">
 
    <div class="img">
        <img src="../Static/images/Sign in.gif" alt="BG">
    </div>

    <div class="signup-content">

        <%- include ('partials/messages') %>

            <div class="title-container">
                <h1>Sign Up</h1>
                <h2>Welcome to MediCare</h2>
                <p>SignUp to explore!</p>
            </div>


            <div class="signup-inner-content">
            <a class="btn" href="/Dsignup" >Sign Up As Doctor</a>
            <a class="btn" href="/Psignup" >Sign Up As Patient</a>
            </div>

    </div>
</div>

<!--include footer-->
<%- include('include/_footer') %>
<script src="../Assets/js/login.js"></script>
</body>

</html>